.main-menu{
    margin-top: 30px;
    min-width: 20%;
    border-radius: 20px;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.897);
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:1px solid black
    
}
.main-menu span{
    border-top: 2px solid black;
    color: white;
    /* border-radius: 5px; */

    font-weight: bolder;
}
.title{
    color: white;
    font-weight: 900;
    font-size: 50px;
    font-style: oblique;
    padding-bottom: 40px;
    
}
.main-menu select{
    display: flex;
    margin: auto;
    width: 170px;
    height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
  }

.main-menu button{
    margin-bottom: 20px;
    width: 110px;
    height: 40px;
    display: flex;
    border:0;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    font-weight: bolder;
}
.main-menu button:hover{
    background-color:  rgb(255, 255, 255);
    color:black;
    text-decoration: underline;
    font-weight: 900;
    border: 3px solid rgba(0, 0, 0, 0.76);;
}